@require 'variables'

.z-icon
	font-family 'zarahion-icon-mix'
	font-size 1em

.primary
	background color-primary
	color color-white

.sub
	background color-sub
	color color-white

.danger
	background color-danger
	color color-white

.title
	text-transform uppercase
	font-weight lighter
