@require 'variables'

tr(time = 280ms)
	transition all time ease-in-out

// 
// whole page transition
.page-enter, .page-leave-to
	opacity 0

.page-enter-active, .page-leave-active
	transition opacity (tr-time * 2) ease-in-out

.page-enter-to, .page-leave
	opacity 1

.fade-enter, .fade-leave
	opacity 0

.fade-enter-active, .fade-leave-active
	transition opacity (tr-time * 0) ease-in-out

.fade-enter-to, .fade-leave-to
	opacity 1
