tr-time = 280ms
// 
color-main = #2e303f
color-main--lighten = #575761
// 
color-sub = #64c07d
color-primary = #4e99c5
color-danger = #f44739
// 
color-white = #f5f5f5
color-white-background = #f1f1f1
